:root {
    --primary-color: rgb(34, 34, 34); 
    --secondary-color: rgb(206, 205, 62); 
    --alternative-color: rgb(206, 205, 62);
    --alternative-dark-color: rgb(250, 250, 250); 
  }
  
  h1,
  h2,
  h3,
  h4 {
    color: var(--primary-color);
  }
  
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4 {
    color: var(--secondary-color);
  }
  
  
  .dark .pagination a {
    color: var(--primary-color);
  }
  
  a:hover {
      color: var(--alternative-color);
    }
  .dark a:hover {
      color: var(--alternative-dark-color);
    }
  



  /* Light mode */
  header nav a {
      color: var(--primary-color); /* Change this to your desired color */
    }
    
    /* Dark mode */
    .dark header nav a {
      color: var(--secondary-color);    /* Change this to your desired color */
    }
    
    .dark .logo img {
      -webkit-filter: invert(88%) sepia(61%) saturate(552%) hue-rotate(358deg) brightness(86%) contrast(85%);
      }

    .dark .logo a:hover img {
      -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(32deg) brightness(101%) contrast(106%);
      }
    
      .logo a:hover img {
      -webkit-filter: invert(88%) sepia(61%) saturate(552%) hue-rotate(358deg) brightness(86%) contrast(85%);
      }

  
    
    .logo-switches #moon:hover {
      color: var(--alternative-color);
    }

    .dark .logo-switches #sun:hover {
      color: var(--alternative-dark-color);
    }

    .dark .logo-switches #sun {
      color: var(--secondary-color);
    }

    #menu-trigger:hover {
      color: var(--alternative-color);
    }

    .dark #menu-trigger:hover {
      color: var(--alternative-dark-color);
    }

    .dark #menu-trigger {
      color: var(--secondary-color);
    }
    
    .social-icons a {
      color: var(--primary-color);
    }
    
    .dark .social-icons a {
      color: var(--secondary-color);
    }
    .social-icons a:hover {
      color: var(--alternative-color);
    }
    
    .dark .social-icons a:hover {
      color: var(--alternative-dark-color);
    }
  
    .tag-cloud {
      display: grid;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
    }
    
    .tag-cloud__item {
      display: inline-block;
      padding: 5px 10px;
      background-color: #fff;
      border-radius: 20px;
      font-size: 1em;
      font-weight: bold;
      color: var(--primary-color);
      text-decoration: none;
      text-align: center;
      transition: all 0.3s ease;
    }
    
    .tag-cloud__item:hover {
      background-color: #fff;
      color: var(--alternative-color);
      transform: scale(1.3);
    }
    
    .dark .tag-cloud__item {
      background-color: #3333332f;
      color: #b3ff00;
    }
    
    .dark .tag-cloud__item:hover {
      background-color: #33333367;
      color: var(--alternative-color);
    }

  /* START hamburger menu */

#menu-trigger {
    display: none;
}

.menu {
    display: flex;
    margin: auto var(--gap);
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

.menu li+li {
    margin-inline-start: var(--gap);
}

.menu a {
    font-size: 16px;
}

.menu .active {
    font-weight: 500;
    border-bottom: 1px solid currentColor;
}

@media screen and (max-width: 768px) {
    .menu {
        list-style: none;
        position: absolute;
        right: 0;
        z-index: 5;
        margin-bottom: var(--gap);
        padding: var(--gap);
        background: var(--code-bg);
        border-radius: var(--radius);
        border: 1px solid var(--tertiary);
        line-height: 2;
        margin: calc(var(--header-height) - var(--gap)) var(--gap);
        display: block;
    }

    .list .menu {
        background: var(--entry);
    } 

    .menu li+li {
        margin-inline-start: 0;
    }

    #menu-trigger {
        font-size: 30px;
        position: relative;
        display: block;
        float: right;
        margin: auto var(--gap);
    }

    .menu.hidden {
        display: none;
    }
}

/* END hamburger menu */
    
