:root {
    --primary-color: rgb(34, 34, 34); 
    --secondary-color: #d9ff00;
    --alternative-color: #FF00D9;
    --alternative-dark-color: rgb(250, 250, 250); 
  }
  
  h1,
  h2,
  h3,
  h4 {
    color: var(--primary-color);
  }
  
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4 {
    color: var(--secondary-color);
  }
  
  
  .dark .pagination a {
    color: var(--primary-color);
  }
  
  a:hover {
      color: var(--alternative-color);
    }
  .dark a:hover {
      color: var(--alternative-color);
    }
  



  /* Light mode */
  header nav a {
      color: var(--primary-color); /* Change this to your desired color */
    }
    
    /* Dark mode */
    .dark header nav a {
      color: var(--secondary-color);    /* Change this to your desired color */
    }
    
    .dark .logo img {
      -webkit-filter: invert(91%) sepia(82%) saturate(7046%) hue-rotate(12deg) brightness(103%) contrast(105%);
      }

    .dark .logo a:hover img {
      -webkit-filter: invert(17%) sepia(100%) saturate(2942%) hue-rotate(299deg) brightness(115%) contrast(124%);
      }
    
      .logo a:hover img {
      -webkit-filter: invert(17%) sepia(100%) saturate(2942%) hue-rotate(299deg) brightness(115%) contrast(124%);
      }

  
    
    .logo-switches #moon:hover {
      color: var(--alternative-color);
    }

    .dark .logo-switches #sun:hover {
      color: var(--alternative-color);
    }

    .dark .logo-switches #sun {
      color: var(--secondary-color);
    }

    #menu-trigger:hover {
      color: var(--alternative-color);
    }

    .dark #menu-trigger:hover {
      color: var(--alternative-color);
    }

    .dark #menu-trigger {
      color: var(--secondary-color);
    }
    
    .social-icons a {
      color: var(--primary-color);
    }
    
    .dark .social-icons a {
      color: var(--secondary-color);
    }
    .social-icons a:hover {
      color: var(--alternative-color);
    }
    
    .dark .social-icons a:hover {
      color: var(--alternative-color);
    }
  
    .tag-cloud {
      display: grid;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
    }
    
    .tag-cloud__item {
      display: inline-block;
      padding: 5px 10px;
      background-color: #fff;
      border-radius: 20px;
      font-size: 1em;
      font-weight: bold;
      color: var(--primary-color);
      text-decoration: none;
      text-align: center;
      transition: all 0.3s ease;
    }
    
    .tag-cloud__item:hover {
      background-color: #fff;
      color: var(--alternative-color);
      transform: scale(1.3);
    }
    
    .dark .tag-cloud__item {
      background-color: #3333332f;
      color: #b3ff00;
    }
    
    .dark .tag-cloud__item:hover {
      background-color: #33333367;
      color: var(--alternative-color);
    }

  /* START hamburger menu */

#menu-trigger {
    display: none;
}

.menu {
    display: flex;
    margin: auto var(--gap);
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

.menu li+li {
    margin-inline-start: var(--gap);
}

.menu a {
    font-size: 16px;
}

.menu .active {
    font-weight: 500;
    border-bottom: 1px solid currentColor;
}

@media screen and (max-width: 768px) {
    .menu {
        list-style: none;
        position: absolute;
        right: 0;
        z-index: 5;
        margin-bottom: var(--gap);
        padding: var(--gap);
        background: rgba(255, 255, 255, 0.14);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
        border-radius: var(--radius);
        border: 1px solid rgba(255, 255, 255, 0.068);
        line-height: 2;
        margin: calc(var(--header-height) - var(--gap)) var(--gap);
        display: block;
    }

    .list .menu {
        background: var(--entry);
    } 

    .menu li+li {
        margin-inline-start: 0;
    }

    #menu-trigger {
        font-size: 30px;
        position: relative;
        display: block;
        float: right;
        margin: auto var(--gap);
    }

    .menu.hidden {
        display: none;
    }
}

/* END hamburger menu */

/* Allocate a single column when the width of the page is small. */
.post-entry {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 0px;
}

/* Allocate two columns when there is enough width. *
* The thumbnail is placed in the first column, while the rest of
* the children are placed in the second column. */
@media (min-width: 700px) {
  .post-entry {
      grid-template-columns: 2fr 3fr;
      grid-gap: 0px 20px;
  }
}


.post-entry .entry-cover {
  max-width: fit-content;
  margin: auto;
  grid-row: span 3;
}

.post-entry .entry-header {
  align-self: center;
}

.post-entry .entry-content {
  align-self: center;
}

.post-entry .entry-footer {
  align-self: end;
}
    
